body{
    margin: 0;
    font-family: "Poppins", sans-serif;}
.color-orange{
        color: orange;
    }
section{
        
    }
    .welcome-section{
        display: flex;
        background-image: url(image/top-banner.png);
        background-repeat: no-repeat;
    }
.content-area p{
width: 80%;
text-align: justify;
    }
   .content-area{
    padding-left:50px ;
   }
    .content-area h1{
        font-size: 50px;
        font-weight: 400;
    }
.content-area a{
    text-decoration: none;
    border-radius: 5px;
    font-weight: 400;
    color: white;
background-image: linear-gradient(orange, tomato);   
 padding: 10px 30px;

}
.image-area img{
    /* margin: 0 auto; */
width: 80%;
    }
.half-width{
width: 50%;
    }
.second-section{
    align-items: center;
    display: flex;
    background-image:url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experiances-list{
    padding: 50px;
    margin: 50px;
    box-shadow: 5px 10px 40px;
    border-image: linear-gradient(to right, tomato, orange) 1;
    border-left: 8px solid tomato;
}
.experiances-section{
    display: flex;
    background-image: url(image/exp-bg.png);
    background-position:left;
    background-repeat: no-repeat;
}


@media (max-width: 767px) {
   .welcome-section{
    display: flex;
    flex-direction: column;
   } 
   .half-width{
    width: 100%;
   }
   .content-area{
    align-items: center;
   }
   .image-area img{
    padding-top: 20px;
   }
   .second-section{
    flex-direction: column;
    background: none;
   }
   
   .experiances-section{
    flex-direction: column;
   }
   .experiances-list{
    display: flex;
    flex-direction: column;
    width: 80%;
   }
   .content-area{
    order: 2;
   }
}